{% extends '::base.html.twig' %}

{% block body %}

{#
<div class="container">

            <div class="col-md-12">
                {% include '@App/Common/flash_message.html.twig' %}

                <table class="table table-bordered">
                    <tr>
                        <td>
                            <h4 class="text-primary text-center">ФИО: </h4>
                        </td>
                        <td>
                            <div class="text-success text-center">
                                {{ employee.lastName }} {{ employee.firstName }} {{ employee.fatherName }}
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="text-primary text-center">Дата приема на работу: </h4>

                        </td>
                        <td>
                            <div class="text-success text-center">
                                {{ employee.employeeSince|date('d.m.Y') }}
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="text-primary text-center">Должность: </h4>

                        </td>
                        <td>
                            <div class="text-success text-center">
                                {{ employee.position }}
                            </div>

                        </td>
                    </tr>
                    {% if is_granted('ROLE_ADMIN') %}

                        <tr>
                            <td>
                                <h2 class="text-center">
                                    Редактировать
                                </h2>
                                <a href="{{ path('edit_employee', {'id': employee.id}) }}">
                                    <i class="glyphicon glyphicon-edit btn btn-info btn-lg btn-block pull-left">
                                    </i>

                                </a>
                            </td>
                            <td>
                                <h2 class="text-center">
                                    Удалить
                                </h2>
                                {% if deleteForm is not null %}
                                    {{ form_start(deleteForm, {attr : {onsubmit: 'return confirm("Удалить сотрудника?");' }}) }}
                                    {{ form_widget(deleteForm.submit) }}
                                    {{ form_end(deleteForm) }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                export
                            </td>
                            <td>
                                <a class="btn btn-primary btn-lg btn-block" href="{{ path('export_one', {'id': employee.id}) }}">
                                    <span class="glyphicon glyphicon-export"></span>
                                    Export
                                </a>
                            </td>
                        </tr>

                    {% endif %}


                </table>
            </div>
        </div>

        </div>

    </div>
#}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include '@App/Common/flash_message.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4 class="text-primary text-center">ФИО: </h4>
                <div class="text-success text-center">
                    {{ employee.lastName }} {{ employee.firstName }} {{ employee.fatherName }}
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="text-primary text-center">Дата приема на работу: </h4>
                <div class="text-success text-center">
                    {{ employee.employeeSince|date('d.m.Y') }}
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="text-primary text-center">Должность: </h4>
                <div class="text-success text-center">
                    {{ employee.position }}
                </div>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="container" style="margin-top: 100px">
            <div class="col-sm-4">
                <a href="{{ path('edit_employee', {'id': employee.id}) }}">
                    <i class="glyphicon glyphicon-edit btn btn-info btn-lg btn-block pull-left">
                        Редактировать
                    </i>

                </a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-primary btn-lg btn-block" href="{{ path('export_one', {'id': employee.id}) }}">
                    <span class="glyphicon glyphicon-export"> Экспортировать</span>

                </a>
            </div>
            <div class="col-sm-4">
                {% if deleteForm is not null %}
                    {{ form_start(deleteForm, {attr : {onsubmit: 'return confirm("Удалить сотрудника?");' }}) }}
                    {{ form_widget(deleteForm.submit) }}
                    {{ form_end(deleteForm) }}
                {% endif %}
            </div>

        </div>
    {% endif %}

{% endblock body %}