{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include '@App/Common/flash_message.html.twig' %}

                <table class="table table-bordered table-striped">
                    <tr>
                        <td>
                            <h4 class="text-primary text-center">ФИО: </h4>
                        </td>
                        <td>
                            <div class="text-success text-center">
                                {{ employee.lastName }} {{ employee.firstName }} {{ employee.fatherName }}
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="text-primary text-center">Дата приема на работу: </h4>

                        </td>
                        <td>
                            <div class="text-success text-center">
                                {{ employee.employeeSince|date('d.m.Y') }}
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="text-primary text-center">Должность: </h4>

                        </td>
                        <td>
                            <div class="text-success text-center">
                                {{ employee.position }}
                            </div>

                        </td>
                    </tr>
                    {% if is_granted('ROLE_ADMIN') %}

                        <tr>
                            <td>
                                <h2 class="text-center">
                                    Редактировать
                                </h2>
                                <a href="{{ path('edit_employee', {'id': employee.id}) }}">
                                    <i class="glyphicon glyphicon-edit btn btn-info btn-lg btn-block pull-left">
                                    </i>

                                </a>
                            </td>
                            <td>
                                <h2 class="text-center">
                                    Удалить
                                </h2>
                                {% if deleteForm is not null %}
                                    {{ form_start(deleteForm, {attr : {onsubmit: 'return confirm("Удалить сотрудника?");' }}) }}
                                    {{ form_widget(deleteForm.submit) }}
                                    {{ form_end(deleteForm) }}
                                {% endif %}
                            </td>
                        </tr>

                    {% endif %}


                </table>
            </div>
        </div>
    </div>




    {#

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                {% include '@App/Common/flash_message.html.twig' %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="text-primary">ФИО: </h4>
                        {{ employee.lastName }} {{ employee.firstName }} {{ employee.fatherName }}
                        <h4 class="text-primary">Дата приема на работу: </h4>
                        {{ employee.employeeSince|date('d.m.Y') }}
                        <h4 class="text-primary">Должность: </h4>
                        {{ employee.position }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="container">

            <div class="row">

                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>
                                Редактировать
                            </th>
                            {% if deleteForm is not null %}
                                <th class="text-right">
                                    Удалить
                                </th>
                            {% endif %}

                        </tr>
                        </thead>
                        <tr>
                            <td>
                                <a href="{{ path('edit_employee', {'id': employee.id}) }}">
                                    <i class="glyphicon glyphicon-pencil btn btn-info btn-lg pull-left">
                                    </i>

                                </a>
                            </td>
                            <td>
                                {% if deleteForm is not null %}
                                    {{ form_start(deleteForm, {attr : {onsubmit: 'return confirm("Удалить сотрудника?");' }}) }}
                                    {{ form_widget(deleteForm.submit) }}
                                    {{ form_end(deleteForm) }}
                                {% endif %}

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
         {% endif %}
    #}





{% endblock body %}