<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/app.css') }}" rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% block header %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <h4>
                            {{ 'Добро пожаловать' }}, <span class="text-primary">{{ app.user.realName }}
                                ({{ app.user.email }})  </span><br>
                            <a href="{{ path('logout') }}" class="btn btn-primary btn-sm btn-block {# logout-btn #}">
                                <i class="glyphicon glyphicon-log-out"></i>
                                Выйти
                            </a>
                        </h4>
                    </div>
                    <div class="pull-right">

                        <form class="navbar-form" role="search" method="GET" action="{{ path('search') }}">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Введите ФИО/позицию" name="search_text" id="srch-term">

                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>


                    </div>

                </div>
            </div>
            <div class="container">
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="dropdown">
                            <a href="{{ path('homepage') }}" data-toggle="dropdown" class="dropdown-toggle">
                                <span class="glyphicon glyphicon-user"></span>  Сотрудники <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('homepage') }}">Все сотрудники</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('new_employee') }}">Добавить сотрудника</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li>
                                <a href="{{ path('all_users') }}">
                                    <span class="glyphicon glyphicon-user"></span>
                                    Пользователи
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>

        </nav>
    {% endblock header %}
{% endif %}

{% block body %}{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
{% endblock %}
</body>
</html>
