{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <div class="panel panel-primaryl-">
                    <div class="panel-body text-center">

                        {% include '@App/Common/flash_message.html.twig' %}

                        <div class="user-info-item">
                            <h4 class="text-primary">Имя пользователя: </h4>
                            <strong>
                                <span>
                                    {{ user.realName }}
                                </span>
                            </strong>


                        </div>
                        <div class="user-info-item">
                            <h4 class="text-primary">Email: </h4>
                            <strong>
                                <span>
                                    {{ user.email }}
                                </span>
                            </strong>

                        </div>
                        <div class="user-info-item">
                            <h4 class="text-primary">Роль: </h4>
                            <strong>
                                <span>
                                    {% if user.hasRole('ROLE_ADMIN') == true %}
                                        Админ
                                    {% else %}
                                        Пользователь
                                    {% endif %}
                                </span>
                            </strong>

                        </div>
                        <div class="user-info-item">
                            <h4 class="text-primary">Статус: </h4>
                            <strong>
                                {% if user.locked == true %}

                                    <span class="text-danger">Заблокирован</span>
                                {% else %}
                                    <span class="text-success">Разблокирован</span>

                                {% endif %}
                            </strong>


                        </div>
                        <div class="user-info-item">
                            <div class="button-container">

                                <br><br>
                                {% if user.hasRole('ROLE_ADMIN') == true %}
                                    <a href="{{ path('remove_role_admin', {'id': user.id}) }}" class="btn btn-info btn-block as-form" data-method="put">
                                        <span class="glyphicon glyphicon-user"></span>
                                        Сделать простым пользователем
                                    </a>
                                {% else %}
                                    <a href="{{ path('add_role_admin', {'id': user.id}) }}" class="btn btn-default btn-block as-form" data-method="put">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        Сделать админом
                                    </a>
                                {% endif %}<br>
                                {% if user.locked == false %}
                                    <a href="{{ path('lock_user', {'id': user.id}) }}" class="btn  btn-default btn-block as-form" data-method="put">
                                        <span class="glyphicon glyphicon-lock"></span>
                                        Заблокировать
                                    </a><br>
                                {% else %}
                                    <a href="{{ path('unlock_user', {'id': user.id}) }}" class="btn  btn-info btn-block as-form" data-method="put">
                                        Разблокировать
                                    </a><br>
                                {% endif %}


                                <a href="{{ path('remove_user', {'id': user.id}) }}" class="btn btn-lg btn-danger btn-block as-form" data-method="delete" {# data-csrf="_token: {{ csrf_token(('authenticate')) }}" #}>
                                    <span class="glyphicon glyphicon-trash"></span>
                                    Удалить пользователя
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    {#

    #}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

<script type="text/javascript">
    $('.as-form').on('click',function(){

        var $form = $('<form/>').hide();

        //form options
        $form.attr({
            'action' : $(this).attr('href'),
            'method':'post'
        })

        //adding the _method hidden field
        $form.append($('<input/>',{
            type:'hidden',
            name:'_method'
        }).val($(this).data('method')));

        //add form to parent node
        $(this).parent().append($form);

        $form.submit();

        return false;
    });
</script>
{% endblock %}

