{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="bg-info">
                        <th class="text-primary">
                            Название устройства
                        </th>
                        <th class="text-primary">
                            Тип устройства
                        </th>
                        <th class="text-primary">
                            В пользовании у сотрудника
                        </th>
                    </tr>
                    </thead>
                    {% for mac in macs %}
                        <tr>
                            <td>
                                <a href="{{ path('edit-mac', {'id': mac.id}) }}">
                                    {{ mac.name }}
                                </a>

                            </td>
                            <td>
                                {{ mac.type }}
                            </td>
                            <td>
                                {% if mac.employee is not null %}
                                    {{ mac.employee.lastName }} {{ mac.employee.firstName }}
                                {% else %}
                                    Нет
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                    {% for keyboard in keyboards %}
                        <tr>
                            <td>
                                <a href="{{ path('edit-keyboard', {'id': keyboard.id}) }}">
                                    {{ keyboard.name }}
                                </a>

                            </td>
                            <td>
                                {{ keyboard.type }}
                            </td>
                            <td>
                                {% if keyboard.employee is not null %}
                                    {{ keyboard.employee.lastName }} {{ keyboard.employee.firstName }}
                                {% else %}
                                    Нет
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for headphone in headphones %}
                        <tr>
                            <td>
                                <a href="{{ path('edit-headphones', {'id': headphone.id}) }}">
                                    {{ headphone.name }}
                                </a>

                            </td>
                            <td>
                                {{ headphone.type }}
                            </td>
                            <td>
                                {% if headphone.employee is not null %}
                                    {{ headphone.employee.lastName }} {{ headphone.employee.firstName }}
                                {% else %}
                                    Нет
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for armchair in armchairs %}
                        <tr>
                            <td>
                                <a href="{{ path('edit-armchair', {'id': armchair.id}) }}">
                                    {{ armchair.name }}
                                </a>

                            </td>
                            <td>
                                {{ armchair.type }}
                            </td>
                            <td>
                                {% if armchair.employee is not null %}
                                    {{ armchair.employee.lastName }} {{ armchair.employee.firstName }}
                                {% else %}
                                    Нет
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for monitor in monitors %}
                        <tr>
                            <td>
                                <a href="{{ path('edit-monitor', {'id': monitor.id}) }}">
                                    {{ monitor.name }} ({{ monitor.diagonal }}'')
                                </a>

                            </td>
                            <td>
                                {{ monitor.type }}
                            </td>
                            <td>
                                {% if monitor.employee is not null %}
                                    {{ monitor.employee.lastName }} {{ monitor.employee.firstName }}
                                {% else %}
                                    Нет
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for mouse in mouses %}
                        <tr>
                            <td>
                                <a href="{{ path('edit-mouse', {'id': mouse.id}) }}">
                                    {{ mouse.name }}
                                </a>

                            </td>
                            <td>
                                {{ mouse.type }}
                            </td>
                            <td>
                                {% if mouse.employee is not null %}
                                    {{ mouse.employee.lastName }} {{ mouse.employee.firstName }}
                                {% else %}
                                    Нет
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for usbhub in usbhubs %}
                        <tr>
                            <td>
                                <a href="{{ path('edit-usbhub', {'id': usbhub.id}) }}">
                                    {{ usbhub.name }}
                                </a>

                            </td>
                            <td>
                                {{ usbhub.type }}
                            </td>
                            <td>
                                {% if usbhub.employee is not null %}
                                    {{ usbhub.employee.lastName }} {{ usbhub.employee.firstName }}
                                {% else %}
                                    Нет
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock body %}