{% extends '::base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <div class="sidebar-nav-fixed affix">
                    <div class="well">
                        <ul class="nav ">
                            <li class="nav-header">
                                <strong>
                                    свободные
                                </strong>

                            </li>
                            <li class="active">
                                <a href="#macmini">
                                    <img src="{{ asset('images/macmini32.png') }}"><br>
                                </a>
                            </li>
                            <li>
                                <a href="#monitors">
                                    <img src="{{ asset('images/monitor32.png') }}"><br>
                                </a>
                            </li>
                            <li>
                                <a href="#armchairs">
                                    <img src="{{ asset('images/office_chair.png') }}"><br>
                                </a>
                            </li>
                            <li>
                                <a href="#usbhubs">
                                    <img src="{{ asset('images/usbhub32.png') }}"><br>
                                </a>
                            </li>
                            <li>
                                <a href="#headphones">
                                    <img src="{{ asset('images/headphone.png') }}"><br>
                                </a>
                            </li>
                            <li>
                                <a href="#keyboards">
                                    <img src="{{ asset('images/keyboard32.png') }}"><br>
                                </a>
                            </li>
                            <li>
                                <a href="#mouses">
                                    <img src="{{ asset('images/mouse32.png') }}"><br>
                                </a>
                            </li>
                            <li>
                                <a href="#another-devices">
                                    <img src="{{ asset('images/unknown.png') }}"><br>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!--/.well -->
                </div>
            </div>



            <div class="col-md-10 col-sm-10">
                {% include '@App/Common/flash_message.html.twig' %}
                <h1 class="text-purple text-center">Свободные устройства</h1>
                <div style="margin-bottom: 100px" id="macmini"></div>
                <div class="panel">
                    <div class="panel-heading bg-purple">
                        <span>Mac Mini</span>
                    </div>
                    <div class="panel-body bg-light-grey">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>RAM</th>
                                <th>SSD</th>
                                <th>HDD</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for mac in freeMacs %}
                                <tr>
                                    <td>
                                        <a href="{{ path('show_mac', {'id': mac.id}) }}">
                                            {{ mac.name }}
                                        </a>

                                    </td>
                                    <td>
                                        {{ mac.ram }}
                                    </td>
                                    <td>
                                        {{ mac.ssd }}
                                    </td>
                                    <td>
                                        {{ mac.hdd }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
                <div style="margin-bottom: 120px" id="monitors"></div>

                <div class="panel">
                    <div class="panel-heading bg-purple">
                            <span>
                                Мониторы
                            </span>
                    </div>
                    <div class="panel-body bg-light-grey">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Марка монитора</th>
                                <th>Диагональ экрана</th>
                            </tr>

                            </thead>
                            <tbody>
                            {% for monitor in freeMonitors %}
                                <tr>

                                    <td>
                                        <a href="{{ path('show_monitor', {'id': monitor.id}) }}">
                                            {{ monitor.name }}
                                        </a>
                                    </td>
                                    <td>{{ monitor.diagonal }}''


                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="padding-bottom: 120px" id="armchairs"></div>

                <div class="panel">
                    <div class="panel-heading bg-purple">
                        <span>
                            Кресла
                        </span>
                    </div>
                    <div class="panel-body bg-light-grey">
                        <table class="table">
                            <thead>

                            </thead>
                            <tbody>
                            {% for armchair in freeArmchairs %}
                                <tr>
                                    <td>
                                        <a href="{{ path('show_armchair', {'id': armchair.id}) }}">
                                            {{ armchair.name }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="margin-bottom: 120px" id="usbhubs"></div>

                <div class="panel">
                    <div class="panel-heading bg-purple">
                        <span>
                            USB Hubs
                        </span>
                    </div>
                    <div class="panel-body bg-light-grey">
                        <table class="table">
                            <thead>

                            </thead>
                            <tbody>
                            {% for hub in freeUsbHubs %}
                                <tr>
                                    <td>
                                        <a href="{{ path('show_usbhub', {'id': hub.id}) }}">
                                            {{ hub.name }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="margin-bottom: 120px" id="headphones"></div>

                <div class="panel">
                    <div class="panel-heading bg-purple">
                        <span>
                           Наушники
                        </span>
                    </div>
                    <div class="panel-body bg-light-grey">
                        <table class="table">
                            <thead>

                            </thead>
                            <tbody>
                            {% for headphone in freeHeadphones %}
                                <tr>
                                    <td>{{ headphone.name }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>
                                            <a class="glyphicon glyphicon-pencil" href="{{ path('edit-headphones', {'id': headphone.id}) }}"></a>
                                        </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="margin-bottom: 120px" id="keyboards"></div>

                <div class="panel">
                    <div class="panel-heading bg-purple">
                        <span>
                            Клавиатуры
                        </span>
                    </div>
                    <div class="panel-body bg-light-grey">
                        <table class="table">
                            <thead>

                            </thead>
                            <tbody>
                            {% for keyboard in freeKeyboards %}
                                <tr>
                                    <td>{{ keyboard.name }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>
                                            <a class="glyphicon glyphicon-pencil" href="{{ path('edit-keyboard', {'id': keyboard.id}) }}"></a>
                                        </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="margin-bottom: 120px" id="mouses"></div>

                <div class="panel">
                    <div class="panel-heading bg-purple">
                        <span>
                            Мыши
                        </span>
                    </div>
                    <div class="panel-body bg-light-grey">
                        <table class="table">
                            <thead>

                            </thead>
                            <tbody>
                            {% for mouse in freeMouses %}
                                <tr>
                                    <td>{{ mouse.name }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>
                                            <a class="glyphicon glyphicon-pencil" href="{{ path('edit-mouse', {'id': mouse.id}) }}"></a>
                                        </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div style="margin-bottom: 120px" id="another-devices"></div>

                <div class="panel">
                    <div class="panel-heading bg-purple">
                        <span>
                            Другое оборудование
                        </span>
                    </div>
                    <div class="panel-body bg-light-grey">
                        <table class="table">
                            <thead>

                            </thead>
                            <tbody>
                            {% for device in freeAnotherDevices %}
                                <tr>
                                    <td>{{ device.name }}</td>
                                    <td>{{ device.type }}</td>
                                    <td>{{ device.condition }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>
                                            <a class="glyphicon glyphicon-pencil" href="{{ path('edit-device', {'id': device.id}) }}"></a>
                                        </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            {# div-col-md-9 #}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}

{% endblock %}

