{% extends '::base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span>Mac Mini</span>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>RAM</th>
                                <th>SSD</th>
                                <th>HDD</th>
                                {% if is_granted('ROLE_ADMIN') %}
                                <th>Edit</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for mac in freeMacs %}
                            <tr>
                                <td>
                                    {{ mac.name }}
                                </td>
                                <td>
                                    {{ mac.ram }}
                                </td>
                                <td>
                                    {{ mac.ssd }}
                                </td>
                                <td>
                                    {{ mac.hdd }}
                                </td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        <a class="glyphicon glyphicon-pencil" href="{{ path('edit-mac', {'id': mac.id}) }}"></a>
                                    </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                            <span>
                                Мониторы
                            </span>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>

                            </thead>
                            <tbody>
                            {% for monitor in freeMonitors %}
                                <tr>
                                    <td>{% if is_granted('ROLE_ADMIN') %}

                                            <a class="glyphicon glyphicon-pencil" href="{{ path('edit-monitor', {'id': monitor.id}) }}"></a>

                                        {% endif %}
                                    </td>
                                    <td>{{ monitor.name }}</td>
                                    <td>{{ monitor.diagonal }}''


                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span>
                            Кресла
                        </span>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>

                            </thead>
                            <tbody>
                            {% for armchair in freeArmchairs %}
                                <tr>
                                    <td>{{ armchair.name }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>
                                            <a class="glyphicon glyphicon-pencil" href="{{ path('edit-armchair', {'id': armchair.id}) }}"></a>
                                        </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {# #}


        </div>
        <div class="row">




            {# Usb hubs #}

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span>
                            USB Hubs
                        </span>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>

                            </thead>
                            <tbody>
                            {% for hub in freeUsbHubs %}
                                <tr>
                                    <td>{{ hub.name }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>
                                            <a class="glyphicon glyphicon-pencil" href="{{ path('edit-usbhub', {'id': hub.id}) }}"></a>
                                        </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {# Headphones #}
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span>
                           Наушники
                        </span>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>

                            </thead>
                            <tbody>
                            {% for headphone in freeHeadphones %}
                                <tr>
                                    <td>{{ headphone.name }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>
                                            <a class="glyphicon glyphicon-pencil" href="{{ path('edit-headphones', {'id': headphone.id}) }}"></a>
                                        </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {# #}
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span>
                            Клавиатуры
                        </span>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>

                            </thead>
                            <tbody>
                            {% for keyboard in freeKeyboards %}
                                <tr>
                                    <td>{{ keyboard.name }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>
                                            <a class="glyphicon glyphicon-pencil" href="{{ path('edit-keyboard', {'id': keyboard.id}) }}"></a>
                                        </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span>
                            Мыши
                        </span>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>

                            </thead>
                            <tbody>
                            {% for mouse in freeMouses %}
                                <tr>
                                    <td>{{ mouse.name }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>
                                            <a class="glyphicon glyphicon-pencil" href="{{ path('edit-mouse', {'id': mouse.id}) }}"></a>
                                        </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>












    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}

