{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <div class="panel">
                    <div class="panel-heading bg-purple">
                        <img src="{{ asset('images/office_chair.png') }}">

                        кресло
                    </div>
                    <div class="panel-body bg-light-grey">
                        <table class="table">
                            <tr>
                                <td>Название</td><td>{{ armchair.name }}</td>
                            </tr>
                            <tr>
                                <td>Обивка</td>
                                <td>
                                    {% if armchair.material == 'lether' %}
                                        Кожа
                                    {% elseif armchair.material == 'ecolether' %}
                                        Эко кожа
                                    {% elseif armchair.material == 'textile' %}
                                        Ткань
                                    {% elseif armchair.material == 'other' %}
                                        Другое
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Состояние
                                </td>
                                <td>
                                    {% if armchair.status == 'new' %}
                                        Новое
                                    {% elseif armchair.status == 'old' %}
                                        Старое
                                    {% elseif armchair.status == 'broken' %}
                                        Сломанное
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ asset('images/employ96.png') }}">

                                </td>
                                <td>
                                    {% if armchair.employee is not null %}
                                        <h3>
                                            <a href="{{ path('show_employee', {'id': armchair.employee.id}) }}">
                                                {{ armchair.employee.lastName }} {{ armchair.employee.firstName }}
                                            </a>
                                        </h3>


                                    {% else %}
                                        <h3 class="text-danger glyphicon glyphicon-ban-circle"></h3>

                                    {% endif %}
                                </td>
                            </tr>

                            {% if is_granted('ROLE_ADMIN') %}
                                <tr>
                                    <td>
                                        <a href="{{ path('edit-armchair', {'id': armchair.id}) }}">
                                            <h3 class="glyphicon glyphicon-pencil"></h3>
                                        </a>

                                    </td>
                                    <td class="text-right">
                                        {% if deleteForm is not null %}
                                            {{ form_start(deleteForm, {attr : {onsubmit: 'return confirm("Удалить кресло?");' }}) }}
                                            {{ form_widget(deleteForm.submit) }}
                                            {{ form_end(deleteForm) }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        </table>



                    </div>
                </div>



            </div>
        </div>
    </div>

{% endblock body %}

