{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <div class="panel">
                    <div class="panel-heading bg-purple">
                        Клавиатура
                    </div>
                    <div class="panel-body bg-light-grey">
                        <table class="table">
                            <tr>
                                <td>Название</td><td>{{ keyboard.name }}</td>
                            </tr>

                            {% if is_granted('ROLE_ADMIN') %}
                                <tr>
                                    <td>
                                        <a class="glyphicon glyphicon-pencil" href="{{ path('edit-keyboard', {'id': keyboard.id}) }}"></a>

                                    </td>
                                    <td class="text-right">
                                        {% if deleteForm is not null %}
                                            {{ form_start(deleteForm, {attr : {onsubmit: 'return confirm("Удалить клавиатуру?");' }}) }}
                                            {{ form_widget(deleteForm.submit) }}
                                            {{ form_end(deleteForm) }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
