{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 filter-div">
                {% include '@App/Form/filterEmployees.html.twig' %}
            </div>
            <div class="col-md-9 col-sm-9">

                {% include '@App/Common/flash_message.html.twig' %}

                {#
                {{ render(controller( 'AppBundle:Employee:employeeFilter')) }}
                #}


                {# total items count #}
                <div class="panel panel-warning">
                    <div class="panel-heading text-large">
                    </div>
                    <div class="panel-body bg">
                        <img  src="{{ asset('images/users48.png') }}">

                        <span class="text-large"> Всего сотрудников: {{ employees.getTotalItemCount }}</span>
                    </div>

                </div>

                <table class="table table-hover main-employees-list">
                    <thead>
                    <tr class="bg-warning">
                        <th>
                            ФИО
                        </th>
                        <th>
                            Принят на работу
                        </th>
                        <th>
                            Позиция
                        </th>
                        <th>
                            Мониторы
                        </th>
                        <th>
                            RAM Mac Mini
                        </th>
                        <th>
                            SSD
                        </th>
                        <th >
                            Кресло
                        </th>
                        <th>
                            USB HUB
                        </th>
                    </tr>
                    </thead>

                    <tr class="bg-warning">
                        {# sorting of properties based on query components #}
                        <td>
                            <span class="glyphicon glyphicon-sort"></span><br>
                            {{ knp_pagination_sortable(employees, 'Сортировать', 'e.lastName') }}
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-sort"></span><br>
                            {{ knp_pagination_sortable(employees, 'Сортировать', 'e.employeeSince') }}
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-sort"></span>
                            {{ knp_pagination_sortable(employees, 'Сортировать', 'e.position') }}
                        </td>
                        <td>

                            <span class="glyphicon glyphicon-sort"></span>
                            {{ knp_pagination_sortable(employees, 'Сортировать', 'e.monitorsNumber') }}


                        </td>
                        <td>
                            <span class="glyphicon glyphicon-sort"></span><br>
                            {{ knp_pagination_sortable(employees, 'Сортировать', 'mc.ram') }}
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-sort"></span><br>
                            {{ knp_pagination_sortable(employees, 'Сортировать', 'mc.ssd') }}
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-sort"></span><br>
                            {{ knp_pagination_sortable(employees, 'Сортировать', 'a.name') }}
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-sort"></span><br>
                            {{ knp_pagination_sortable(employees, 'Сортировать', 'u.name') }}
                        </td>

                    </tr>

                    {% for employee in employees %}
                        <tr>
                            <td>
                                <a href="{{ path('show_employee', {'id': employee.id}) }}">
                                    {{ employee.lastName }} {{ employee.firstName }} {{ employee.fatherName }}
                                </a>

                            </td>
                            <td>
                                {{ employee.employeeSince|date('d.m.Y') }}
                            </td>
                            <td>
                                {{ employee.position }}
                            </td>
                            <td>
                                {% if employee.monitors|length != 0 and employee.monitors != null %}
                                    {{ employee.monitors|length }}
                                {% else %}
                                    {{ employee.monitors|length }}
                                {% endif %}
                            </td>
                            <td>
                                {% if employee.mac.ram is defined%}
                                    {{ employee.mac.ram }}
                                {% else %}
                                    {{ 0 }}
                                {% endif %}
                            </td>
                            <td>
                                {% if employee.mac.ssd is defined and employee.mac.ssd > 0 %}
                                    {{ 1 }}
                                {% else %}
                                    {{ 0 }}
                                {% endif %}
                            </td>
                            <td>
                                {% if employee.armchair is defined  and employee.armchair != null %}
                                {{ employee.armchair|length }}
                                {% else %}
                                    {{ employee.armchair|length }}
                                {% endif %}
                            </td>
                            <td>
                                {% if employee.usbHub is defined  and employee.usbHub != null %}
                                    {{ employee.usbHub|length }}
                                {% else %}
                                    {{ employee.usbHub|length }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {{ knp_pagination_render(employees) }}
            </div>
        </div>
    </div>

{% endblock body %}