{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="alert alert-success">
                        <strong>
                            {{ flash_message }}
                        </strong>
                    </div>
                {% endfor %}

                {# total items count #}
                <div class="well">
                    <span class="text-success">Всего сотрудников:</span> {{ employees.getTotalItemCount }}
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="bg-info">
                        <th class="text-primary">
                            ФИО сотрудника
                        </th>
                        <th class="text-primary">
                            Дата приема на работу
                        </th>
                        <th class="text-primary">
                            Позиция
                        </th>
                    </tr>
                    </thead>

                    <tr class="bg-warning">
                        {# sorting of properties based on query components #}
                        <td>
                            <span class="glyphicon glyphicon-sort"></span>
                            {{ knp_pagination_sortable(employees, 'Сортировать', 'e.lastName') }}
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-sort"></span>
                            {{ knp_pagination_sortable(employees, 'Сортировать', 'e.employeeSince') }}
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-sort"></span>
                            {{ knp_pagination_sortable(employees, 'Сортировать', 'e.position') }}
                        </td>
                    </tr>

                    {% for employee in employees %}
                        <tr>
                            <td>
                                <a href="{{ path('show_employee', {'id': employee.id}) }}">
                                    {{ employee.lastName }} {{ employee.firstName }} {{ employee.fatherName }}
                                </a>

                            </td>
                            <td>
                                {{ employee.employeeSince|date('d.m.Y') }}
                            </td>
                            <td>
                                {{ employee.position }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {{ knp_pagination_render(employees) }}
            </div>
        </div>
    </div>

{% endblock body %}